<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Peliculas')}"></head>
    <body>
        <main>
            <div class="container px-4 pb-5">
                <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Peliculas')}"></nav>
                <h1 class="pb-2 border-bottom">Lista de películas</h1>
                <a class="btn btn-primary mt-4 mb-4" th:href="@{'/employee/new'}">Crear Película</a>
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Título</th>
                            <th>Fecha de estreno</th>
                            <th>Duración</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="i, info : ${listaPeliculas}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${i.titulo}"></td>
                            <td th:text="${i.fechaestreno}"></td>
                            <td th:text="${i.duracionminutos}"></td>
                            <!--
                            <td><a class="btn btn-primary" th:href="@{'/employee/edit' + '?id=' + ${employee.id}}">Editar</a>
                            </td>
                            <td><a class="btn btn-danger" th:href="@{'/employee/delete' + '?id=' + ${employee.id}}">Borrar</a>
                            </td>
                            -->
                        </tr>
                    </tbody>
                    <!--
                </table>
                <h2 class="mt-4">Estadistica de empleados</h2>
                <hr/>
                <h4>Cantidad de empleados por región</h4>
                <table class="table table-sm">
                    <tr>
                        <th>Región</th>
                        <th>Cantidad de empleados</th>
                    </tr>
                    <tr th:each="empleadoPorRegion : ${listaEmpleadosPorRegion}">
                        <td th:text="${empleadoPorRegion.getRegiondescription()}">
                        <td th:text="${empleadoPorRegion.getCantidadempleados()}"></td>
                    </tr>
                </table>
                <h4 class="mt-4">Cantidad de empleados por pais</h4>
                <table class="table table-sm">
                    <tr>
                        <th>País</th>
                        <th>Cantidad de empleados</th>
                    </tr>
                    <tr th:each="empleadoPorPais : ${listaEmpleadosPorPais}">
                        <td th:text="${empleadoPorPais.getPais()}">
                        <td th:text="${empleadoPorPais.getCantidad()}"></td>
                    </tr>
                </table>
                -->
            </div>
        </main>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>
